*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  background-color: #2C0143;
  color:#ffffff;
  font-family: sans-serif;
  padding: 5rem;
 }

 .container{
  width: 100%;
  display: flex;
  flex-direction: column;
 }

 .navBg {
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  background-color: #2C0143;
  padding-top: 2%;
 }
 
 .header{
display: flex;
 }

 .menuButdiv {
  display: none;
  background-color: inherit;
}

.menuButdiv button{
background-color: inherit;
border-color: #2C0143;
border: none;
}

.menuButdiv button img{
  width: 6vw;
  height: 5vh;
  filter: invert(1);

}

 .menulis{
  padding: 1% 0;
  max-width: 750px;
  width: 100%;
  word-wrap: break-word;
  letter-spacing: 0.1vw;
   display: flex;
   flex-wrap: wrap;
   gap: 2%;
 
 }
 .menulis a{

  font-size: 1vw;
  text-decoration: none;
 color:white;
  font-weight: 800;
 transition: color 0.8s ease;
 padding: 1%;  

 }
 .contactUSbg{    
  background-color:#A387AF;
 
 }

 .header a:hover{
  color: green;
 
}

#smallScreenMenu{
visibility: collapse;  
}

   /*container*/

   .Personal-container{
    display: flex;
    gap: 20px;
     width: 100%;
    padding-top: 40px;
   }

   .personal-Text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 0;
   }
   .personal-Text-first h1{
    font-size: 4.4vw;

   }
   .personal-Text-first p{
    margin-top: 10px;
    font-size: 1.3vw;
    line-height: 41px; 
    letter-spacing: 0.1rem;
    margin-top: 4vh;
   }
   .personal-pic{
      flex: 1;
      width: 100%;
      max-width: 600px;
      padding: 3% 0;
     
}
.personal-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }


   .personal-board{
      display: inline-flex;
    min-height: 1rem;
    width: 100%;
    max-width: 31rem;
    padding: 2%;
    background-color: #A387AF;
    
   }

.board-experience{
   padding: 2%;
    max-width:8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 00.1vw solid white;
}
.board-experience h1{
    font-size: 2vw;
}
 
.board-project{
    display: flex;
    flex-direction: column;
    border-right: 00.1vw solid white;
    width: 100%;
    max-width: 12rem;
    padding: 2%;
}

.board-project h1{
    font-size: 2vw;
   }
   .board-project p{
    font-size: 1vw;
    margin-top: 0;
   }
  .board-project p,.board-client p,.board-experience p{
    font-size: 1vw;
    margin-top: 4%;
  
  }
  .board-client{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 7.9rem;
    padding: 2%;    
  }
  .board-client h1{
    font-size: 1.7vw;
  }
 


.footer{
  display: flex;
  gap: 20vw;
  height: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;

  
}
.profile{
  display: inline-flex;
    gap: 1vw;
}
.profile img{
border-radius:50%;
height: 2.4vw;
width: 2.4vw;
}
.profile p{
font-size: 1.2vw;
padding-top: 1vh;
}

.copyRight{
  height: auto;
}
.copyRight p{
  font-size: 1.2vw;
  padding-top: 0.9vh;
}

.socialMEd{
  display: inline-flex;
  gap: 2vw;
 justify-content: center;
 align-items: center;
 padding-left: 2vw;
 padding-right: 2vw;

  background-color: #A387AF;
  height: 8vh;

}
.socialMEd img{
  height: 2.4vh;
  width: 2vw;
}


@media(max-width:1025px)
{

  
 
    
     /*container*/
  
     .Personal-container{
      display: flex;
       width: 100%;
     }
  
     .personal-Text{
       gap: 30px;
       }
    

  /*stop*/
 

}

@media(max-width:746px)
{

  .Personal-container{
    height: auto;
    flex-direction: column;

  }  
 
 .personal-Text p{
  font-size: 1.7vw;
     }
     
     .personal-board{
      height: 13vh;
      width: 45vw;
      padding: 2.3vh;
      margin:1vh 0vh 1vh 0vh;
  
     }
  .board-experience{
      min-width:11vw;
      border-right: 0.3vw solid white;
  }
  .board-experience h1{
      padding-bottom: 1.2vh;
      font-size: 2.6vw;
  }
  .board-experience p{
  font-size: 1.8vw;
  }   
  
  .board-project{
      border-right: 0.3vw solid white;
  
  }
  
  .board-project h1{
    padding-top: 0.4vh;
      font-size: 2.598vw;
      padding-bottom: 1.1vh;
     }
     .board-project{
      width: 17vw;
      padding-right: 1vw;
     }
    .board-project p{
      width: 17vw;
      font-size: 1.7vw;
    }

   

    .board-client{
      min-width: 12vw;
    }
  
    .board-client h1{
      font-size: 2.5vw;
      padding-top: 0.3vh;
      padding-bottom: 1.1vh;
    }
    .board-client p{
      font-size: 1.7vw;
      min-width:5vw;
  
    }
   

/* footer */


.footer{
  display: flex;
  gap: 12vw;
  height: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;

  
}

.profile {
height: 5.4vh;
width: 4vw;
}
.profile img{
width: 100%;
height: 100%;
}
.profile p{
font-size: 1.7vw;
padding-top: 2vh;
}

.copyRight{
  height: auto;
}
.copyRight p{
  font-size: 1.7vw;
  padding-top: 1.9vh;
}
.socialMEd{
  display: inline-flex;
  gap: 5vw;
}
.socialMEd img{
  height: 2vh;
  width: 2vw;
}



}
@media(max-width:500px)
{

  
  .Personal-container{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
   }
 
   .header{
    display: flex;
    flex-direction: column;
     }
     #smallScreenMenu{
 visibility: visible;
 display: flex;
    margin-top: 1vh;
    width: 100%;
     gap: 2.7vw;
   padding-bottom: 0.2vh;    
   flex-direction: column;
       }

     #smallScreenMenu a{
text-decoration: none;
color: #ffffff;
      width: 30%;
      padding-top: 1vh;
      padding-left: 0.61vw;
      font-size: 3vw;
      height: 4vh;

     }   
   .menulis{
    visibility: collapse;
      display: none;
  
   }
 
  .menulis a{
    width: 30%;
    padding-top: 1vh;
    padding-left: 0.61vw;
    font-size: 3vw;
    height: 4vh;
  
   }
   .menuButdiv {
    display: flex;
    margin-bottom: 1vh;

  }

     /*container*/
    
     .personal-Text{
         gap: 0.4vh; 
       padding-top: 6vh;
       padding-right: 8vw;
       }
     .personal-Text{
           gap: 2vh;
     }
     .personal-Text h1{
      font-size: 5.5vw;
  
     }


  /*stop*/

   .personal-Text p{
font-size: 3vw;
   }
  /* footer */
  
.footer{
  display: flex;
  flex-direction: column;
   height: auto;

}

.profile {
  height: auto;
  width: auto;
justify-content: center;
align-items: center;
}
.profile img{
width:9vw;
height:7vh;
}
.profile p{
font-size: 4vw;
padding-top: 2vh;
}

.copyRight{
  height: auto;
  margin: auto;
  justify-content: center;
}
.copyRight p{
  font-size: 3vw;
  padding-top: 1.1vh;
}
.socialMEd{
  display: inline-flex;
  gap: 5vw;
  margin: auto;
 justify-content: center;
}
.socialMEd img{
  height: 2vh;
  width: 2vw;
}

.personal-board{
  display: inline-flex;
  flex-direction: column;
  width: 50%;
   min-height:250px ;
  padding: 12px;
  background-color: #A387AF;
  }

  
.board-experience{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 0vw;
  border-bottom: 0.3vw solid white;
  padding-bottom: 1vh;
  margin-bottom: 1.1vh;

}
.board-experience h1{
  font-size: 5vw;
  padding-bottom: 1.5vh;
}
.board-experience p{
font-size: 3vw;
}   

.board-project{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 0vw;
  border-bottom: 0.3vw solid white;
  padding-bottom: 1vh;
  margin-bottom: 1.1vh;

}

.board-project h1{
  font-size: 5vw;
  padding-bottom: 1.5vh;
 }
.board-project p{
  font-size: 3vw;
}
.board-client{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1vh;
  margin-bottom: 1.1vh;

}
.board-client h1{
  font-size: 5vw;
  padding-bottom: 1.5vh;
}
.board-client p{
  font-size: 3vw;

}  

.personal-pic{
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
 
}
.personal-pic img{
  width: 100%;
 }



}

