*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{

    background-color: #2C0143;
    color:#ffffff;
    font-family: sans-serif;
    padding: 5rem;
   }
  
   .container{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
  
   .navBg {
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #2C0143;
    padding-top: 2%;
   }
   
   .header{
  display: flex;
   }
  
   .menuButdiv {
    display: none;
    background-color: inherit;
  }
  
  .menuButdiv button{
  background-color: inherit;
  border-color: #2C0143;
  border: none;
  }
  
  .menuButdiv button img{
    width: 6vw;
    height: 5vh;
    filter: invert(1);
  
  }
  
   .menulis{
    padding: 1% 0;
    max-width: 750px;
    width: 100%;
    word-wrap: break-word;
    letter-spacing: 0.1vw;
     display: flex;
     flex-wrap: wrap;
     gap: 2%;
   
   }
   .menulis a{
  
    font-size: 1rem;
    text-decoration: none;
   color:white;
    font-weight: 800;
   transition: color 0.8s ease;
   padding: 1%;  
  
   }
   .contactUSbg{    
    background-color:#A387AF;
   
   }
  
   .header a:hover{
    color: green;
   
  }
  
  #smallScreenMenu{
  visibility: collapse;  
  }
   
  
     
  /*container */
   
  .content-blog{
    display: flex;
    flex-direction: column;
    gap:3vh;
    margin-top:4%;
    background-color: rgb(25, 0, 55);
    padding: 2% 10%;
  }   
  


  .content-blog h1{
    padding-top: 2vh;
    padding-bottom: 2.9vh;
    font-size: 2vw;
    font-weight: 900;
  }
  .Hr-line-upper{
    border-top: 2px solid white;
    
  }

  .Hr-line-lower{
    border-bottom: 2px solid white;
    
  }


  #blog-article{
    display: flex;
    flex-wrap: wrap;
    width: clamp(400px,100%,1000px);

  }
  #blog-article img{
    height: auto;
    width: clamp(60px,100%,500px);
  }
  #blog-article p{
    font-size: clamp(10px,1.1vw,54px);
  line-height: 4vh;
  padding-top: 2%;


  }
.blog-like-comment{
    display: flex;
    gap:4%;
    margin-top: 1%;

}
.blog-like,.blog-comment{
   
    display: flex;
    gap: 1%;

}
.blog-like p,.blog-comment p{
  font-size: clamp(0px,100%,13px);
}
.blog-like img{

  width: clamp(0px,100%,15px);

}
.blog-comment img{

  width: clamp(0px,100%,10px);
  
  }

.comment-section{
display: flex;
flex-direction: column;

}
.user{
  display: flex;
  gap: 0.5vw;
  margin-top:2.5vh;
}
.user img{
border-radius: 100%;
height: 4vh;
width: clamp(50px,1vw,70px);
} 
.user p{
font-size: 1.1vw;
padding-top: 0.4vh;

}
.comment{
  font-size: clamp(15px,1.1vw,24px);
  letter-spacing: 0.1vw;
  margin-top: 1vh;
  color: yellow;
  margin-bottom: 2vh;
}

.AddToComment{
  margin-top:2.5vh;
  padding-bottom:2vh ;

}
.AddToComment input{
width: 59vw;
height: 5vh;
background-color:inherit;
font-size: 2vh;
border-color: transparent;
outline: none;
color: white;
}
.AddToComment input:focus {
  border-color: transparent;
  border-bottom: none;
  border-left: none;
}
.AddToComment button{
  width: 9vw;
height: 5vh;
font-size: 1.4vw;
background-color: #A387AF;
color: white;
font-weight: 700;
border-radius: 45vw;
}
              .footer{
                display: flex;
                gap: 20vw;
                height: auto;
                margin-top: 9vh;
              }
              .profile{
                display: inline-flex;
                  gap: 1vw;
              }
              .profile img{
              border-radius: 50%;
              height: 2.4vw;
              width: 2.4vw;
              }
              .profile p{
              font-size: 1.2vw;
              padding-top: 1vh;
              }
              
              .copyRight{
                height: auto;
              }
              .copyRight p{
                font-size: 1.2vw;
                padding-top: 0.9vh;
              }
              .socialMEd{
                display: inline-flex;
                gap: 5vw;
              }
              .socialMEd img{
                height: 2vw;
                width: 2vw;
              }


              @media (max-width:769px) {
                #smallScreenMenu{
                  visibility: visible;
                  display: flex;
                     margin-top: 1vh;
                     width: 100%;
                      gap: 2.7vw;
                    padding-bottom: 0.2vh;    
                    flex-direction: column;
                        }
                 
                      #smallScreenMenu a{
                 text-decoration: none;
                 color: #ffffff;
                       width: 30%;
                       padding-top: 1vh;
                       padding-left: 0.61vw;
                       font-size: 3vw;
                       height: 4vh;
                 
                      }   
                    .menulis{
                     visibility: collapse;
                    display: none;
                   
                    }
            
                    .menuButdiv {
                      display: flex;
                      margin-bottom: 1vh;
                  
                    }
              
                
              }